body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  #container {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    border: 4px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1, h2 {
    color: #3c0c02;
    text-align: center;
    font-weight: bolder;
  }
  
  .hidden {
    display: none;
  }
  
  form {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
  }
  
  input, textarea, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  button {
    background: #3c0c02;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
  }
  
  button:hover {
    background: #3c0c03;
  }
  
  button:disabled {
    background: #ccc;
    cursor: not-allowed;
  }
  p{
    text-align: center;
    color: green;
    font-weight: bold;
  }
  table{
    text-align: center;
    margin: auto;
  }
  